<div id="<%= dom_id bank %>">
  <p>
    <strong>Name:</strong>
    <%= bank.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= bank.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= bank.phone %>
  </p>

</div>
