<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>

  <% if can? :show, @users_path %>
  <%= link_to "Show this user", @user %> |
  <%= link_to "Back to users", users_path %>
  <%end%>
  
</div>
